body {
    font-family: 'Visby', sans-serif;
  } 
  
  

.market-banner{
    background-image:linear-gradient(to left, rgba(10, 10, 11, 0.6),rgba(10, 10, 11, 0.6)), url("/Campaign.jpeg");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
} 

.google-font{
    font-family: 'Handlee', cursive;
}


.border-color{
    border-right: 1px solid black;
}